[submodule "c_swain_python_utils"]
	path = c_swain_python_utils
	url = https://github.com/CorbanSwain/Python-Utils
[submodule "cs-matlab-utils"]
	path = cs-matlab-utils
	url = https://github.com/CorbanSwain/MATLAB-Utilities
